{
  "x-generator": "NSwag v13.18.0.0 (NJsonSchema v10.8.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "MixMove TeamWork API",
    "version": "1.0.0",
    "description": "|- This is a sample Pet Store Server based on the OpenAPI 3.1 specification. You can find out more about Swagger at [https://swagger.io](javascript:confirm``). In the third iteration of the pet store, we've switched to the design first approach! You can now help us improve the API whether it's by making changes to the definition itself or to the code.",
    "license":{
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "x-logo": {
      "url": "https://www.mixmovematch.com/Assets/imgs/MM.Wordmark.pos.svg",
      "backgroundColor": "Color [Transparent]",
      "altText": "MixMove TeamWork API",
      "href": "www.mixmove.io"
    }
  },
  "servers": [
    {
      "url": "https://teamworkapi-stg.mixmove.io"
    }
  ],
  "paths": {
    "/Assignments": {
      "post": {
        "tags": [
          "Assignments"
        ],
        "operationId": "Assignments_Post",
        "requestBody": {
          "x-name": "assignment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Assignment"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Assignments"
        ],
        "operationId": "Assignments_Get",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Assignments/{AssignmentId}": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "operationId": "Assignments_Get2",
        "parameters": [
          {
            "name": "AssignmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Assignments/UpdateStatus": {
      "put": {
        "tags": [
          "Assignments"
        ],
        "operationId": "Assignments_UpdateStatus",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Assignments/UpdateData": {
      "put": {
        "tags": [
          "Assignments"
        ],
        "operationId": "Assignments_UpdateData",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "value",
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats": {
      "get": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_Get",
        "parameters": [
          {
            "name": "ParticipantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "ParticipantName2",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "CodeOrName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Codes",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            },
            "x-position": 4
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/GetEntries": {
      "get": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_GetEntries",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 40,
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "orderByDescending",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/PostChat": {
      "post": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_PostChat",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "chatParticipants",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChatParticipant"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/PostEntry": {
      "post": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_PostEntry",
        "requestBody": {
          "x-name": "entry",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEntry"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/GetParticipants": {
      "get": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_GetParticipants",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/GetParticipant": {
      "get": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_GetParticipant",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "participantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/AddParticipant": {
      "post": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_AddParticipant",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "participantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/AddParticipants": {
      "post": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_AddParticipants",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "participantNames",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/RemoveParticipant": {
      "delete": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_RemoveParticipant",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "participantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/DoNotDisturb": {
      "put": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_DoNotDisturb",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "participantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Chats/LastEntryRead": {
      "put": {
        "tags": [
          "Chats"
        ],
        "operationId": "Chats_ChatParticipantLastEntryRead",
        "parameters": [
          {
            "name": "chatCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "participantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "lastEntryId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Contacts/GetContact": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_DeleteGET",
        "parameters": [
          {
            "name": "contactName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "ownerName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Post",
        "requestBody": {
          "x-name": "r",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Put",
        "requestBody": {
          "x-name": "r",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Operations",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/OperationOfContact"
              }
            },
            "x-position": 2
          },
          {
            "name": "ContractResolver",
            "in": "query",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IContractResolver"
                }
              ]
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_DeleteDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Get",
        "parameters": [
          {
            "name": "OwnerParticipantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "ContactParticipantName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "Username",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Contacts/DeleteContact": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_DeleteContact",
        "parameters": [
          {
            "name": "contactName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "ownerName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Contacts/Block": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Block",
        "parameters": [
          {
            "name": "contactName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "isBlocked",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          },
          {
            "name": "ownerName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Contacts/Get": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "Contacts_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/Get": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_Get",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/NotificationChannel"
                    }
                  ]
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/GetById": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_Get2",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/Get/Paged": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_GetPaged",
        "parameters": [
          {
            "name": "pname",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/SetDelivered": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_SetDelivered",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/SetSent": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_SetSent",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/SetRead": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_SetRead",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/SetAllRead": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_SetAllRead",
        "parameters": [
          {
            "name": "participanName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/Check": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_Check",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Notifications/Post": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "operationId": "Notifications_Post",
        "requestBody": {
          "x-name": "notification",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Notification"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/Participants": {
      "get": {
        "tags": [
          "Participants"
        ],
        "operationId": "Participants_Get",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Names",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Assignment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "assignmentData": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "$ref": "#/components/schemas/AssignmentPriority"
          },
          "status": {
            "$ref": "#/components/schemas/AssignmentStatus"
          },
          "expiresOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "typeCode": {
            "type": "string",
            "nullable": true
          },
          "controller": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/AssignmentType"
              }
            ]
          },
          "assignedToName": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AssignmentPriority": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "LOW",
          "NORMAL",
          "HIGH"
        ],
        "enum": [
          0,
          1,
          2
        ]
      },
      "AssignmentStatus": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "PENDING",
          "COMPLETED",
          "CANCELED",
          "EXPIRED"
        ],
        "enum": [
          0,
          1,
          -2,
          -1
        ]
      },
      "AssignmentType": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "controller": {
            "type": "string",
            "nullable": true
          },
          "defaulExpirationTime": {
            "type": "string",
            "format": "duration",
            "nullable": true
          }
        }
      },
      "ChatParticipant": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "participantName": {
            "type": "string",
            "nullable": true
          },
          "chatCode": {
            "type": "string",
            "nullable": true
          },
          "doNotDisturb": {
            "type": "boolean"
          },
          "lastChatEntryIdRead": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ChatEntry": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "chatCode": {
            "type": "string",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "createdByName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Contact": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ownerParticipantName": {
            "type": "string",
            "nullable": true
          },
          "contactParticipantName": {
            "type": "string",
            "nullable": true
          },
          "isBlocked": {
            "type": "boolean"
          }
        }
      },
      "OperationOfContact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Operation"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "Operation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OperationBase"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "value": {
                "nullable": true
              }
            }
          }
        ]
      },
      "OperationBase": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string",
            "nullable": true
          },
          "op": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IContractResolver": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false
      },
      "NotificationChannel": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Portal",
          "EMAIL",
          "SMS"
        ],
        "enum": [
          0,
          1,
          2
        ]
      },
      "Notification": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "string",
            "nullable": true
          },
          "channel": {
            "$ref": "#/components/schemas/NotificationChannel2"
          },
          "status": {
            "$ref": "#/components/schemas/NotificationStatus"
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "replyTo": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "to": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "cc": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "bcc": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "errorDescription": {
            "type": "string",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "deliveredOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "readOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "files": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/FileTransferMode"
            }
          }
        }
      },
      "NotificationChannel2": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Portal",
          "EMAIL",
          "SMS"
        ],
        "enum": [
          0,
          1,
          2
        ]
      },
      "NotificationStatus": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "PENDING",
          "DELIVERED",
          "SENT",
          "FAILED"
        ],
        "enum": [
          0,
          1,
          2,
          -1
        ]
      },
      "FileTransferMode": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "file": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "fileContentType": {
            "type": "string",
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Client Authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth-stg.mixmove.io/connect/token",
            "scopes": {
              "TeamWorkApi|qa": "Read access to protected resources"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ]
}
